<div ng-controller="pxSimpleHorizontalBarChartCtrl as ctrl" ng-style="{'width': ctrl.width, 'height' : ctrl.height}">
    <script type="text/ng-template" id="simpleHorizontalBarChart.html">
        <link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-simple-horizontal-bar-chart/px-simple-horizontal-bar-chart.html" rel="import"/>
        <px-simple-horizontal-bar-chart id="{{ctrl.widgetID}}" chart-data="{{ctrl.chartData}}" 
            legend-labels="{{ctrl.legendLabels}}" bar-labels="{{ctrl.barLabels}}" width="auto" height="auto">
        </px-simple-horizontal-bar-chart>
    </script>
    <script type="text/ng-template" id="error.html">
        <h3>{{ctrl.errorMsg}}</h3>
    </script>
    <div ng-style="{'width': ctrl.width, 'height' : ctrl.height}" ng-include src="ctrl.currentTpl"></div>
</div>